<a href="https://colab.research.google.com/github/20021456/Moble-Price-Predict/blob/main/DecisionTreeRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.model_selection import train_test_split

df = pd.read_csv('https://raw.githubusercontent.com/haiyen040602/KPDLHLV/master/merged_data_ver14.csv')
# df = pd.read_csv('https://raw.githubusercontent.com/haiyen040602/KPDLHLV/master/merged_data_test.csv')

In [ ]:
df.columns

Index(['sim_number', 'sim_doi_1', 'sim_doi_2', 'sim_doi_3', 'sim_doi_4',
       'sim_tam_hoa_1', 'sim_tam_hoa_2', 'sim_tam_hoa_3', 'sim_tu_quy_1',
       'sim_tu_quy_2', 'sim_ngu_quy', 'sim_luc_quy', 'sim_that_quy',
       'sim_bat_quy', 'sim_cuu_quy', 'quy_o_cuoi', 'sim_taxi_4',
       'sim_taxi_4_2', 'sim_taxi_6', 'sim_taxi_8', 'sim_taxi_9',
       'day_taxi_o_cuoi', 'sim_than_tai', 'sim_loc_phat', 'sim_ong_dia',
       'sim_phu_quy', 'sim_tien_len_1', 'sim_tien_len_2', 'sim_tien_len_3',
       'day_tien_len_cuoi', 'sim_ganh_dao', 'sim_ganh_dao_cuoi', 'price_vnd',
       'dau_so', 'dau_so_co', 'sim_tien_doi'],
      dtype='object')

In [ ]:
df.shape

(200000, 36)

In [ ]:
df.loc[df['sim_tien_doi']!=0, ['sim_number', 'dau_so', 'dau_so_co', 'sim_tien_doi']]

        sim_number  dau_so  dau_so_co  sim_tien_doi
46       912404244       2          1             2
739      814909192       2          0             1
805      828353739       2          0             2
1034     396636669       1          0             3
1096     792959697       3          0             1
...            ...     ...        ...           ...
197979   705404142       3          0             1
198609   926737475       1          1             1
198870   706909192       3          0             1
198975   827000408       2          0             4
199323   825333435       2          0             1

[578 rows x 4 columns]

In [ ]:
X = df.drop(['sim_number', 'price_vnd'], 1)
y = df['price_vnd']

<ipython-input-69-aafdcea88b25>:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = df.drop(['sim_number', 'price_vnd'], 1)

In [ ]:
# df = df.drop(['sim_lui_3'], 1)

In [ ]:
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.tree import DecisionTreeRegressor

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X.values, y.values, test_size=0.2)
X_train = X.values
y_train = y.values
#  random_state= 42

#Decision Tree Regression

In [ ]:
model = DecisionTreeRegressor()
model.fit(X_train, y_train)
# evaluate the model
yhat1 = model.predict(X_test)
# evaluate predictions
mae1 = mean_absolute_error(y_test, yhat1)
rmse1 = np.sqrt(mean_squared_error(y_test, yhat1))

print("Predicted values are: ", yhat1[:15])
print("Real values are: ", y_test[:15])

import sklearn.metrics as sm
print("Root mean squared error = %f" %rmse1 )
print("Mean absolute error =", round(sm.mean_absolute_error(y_test, yhat1), 2))
print("Mean squared error =", round(sm.mean_squared_error(y_test, yhat1), 2))
print("Median absolute error =", round(sm.median_absolute_error(y_test, yhat1), 2))
print("Explain variance score =", round(sm.explained_variance_score(y_test,yhat1), 2))
print("R2 score =", round(sm.r2_score(y_test, yhat1), 2))

Predicted values are:  [ 908732.87671233 1540339.84830805 6987683.82352941  523282.20858896
 4506666.66666667 1540339.84830805 4710181.81818182 1342105.26315789
  471478.87323944 6632634.92063492 8814285.71428571 1110350.87719298
  814330.17190279 1255933.89088013  561616.16161616]
Real values are:  [  450000  3000000  3000000   450000  5000000  1000000  3000000   500000
   450000   500000 10500000   450000   450000   450000   450000]
Root mean squared error = 322784278.480382
Mean absolute error = 7324419.4
Mean squared error = 1.0418969043410102e+17
Median absolute error = 755933.89
Explain variance score = 0.07
R2 score = 0.07

In [ ]:
import pickle

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd /MyDrive

[Errno 2] No such file or directory: '/MyDrive'
/content/drive/MyDrive

In [ ]:
loaded_model = pickle.load(open('./model/decisionTree_11_12.sav', 'rb'))
# result = loaded_model.score(X_test, Y_test)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
result = loaded_model.predict(df.values)

In [ ]:
result

array([1666048.0349345 , 4308333.33333333, 4679671.45790554, ...,
        540196.07843137, 1206776.83615819, 1201492.53731343])

In [ ]:
price = {'price_vnd': result}
price_vnd = pd.DataFrame.from_dict(price)

In [ ]:
price_vnd

           price_vnd
0       1.666048e+06
1       4.308333e+06
2       4.679671e+06
3       7.549153e+05
4       2.401869e+06
...              ...
149055  2.295000e+08
149056  1.670481e+07
149057  5.401961e+05
149058  1.206777e+06
149059  1.201493e+06

[149060 rows x 1 columns]

In [ ]:
url = 'https://raw.githubusercontent.com/haiyen040602/KPDLHLV/master/test.csv'
df_sim_number = pd.read_csv(url)

In [ ]:
submit = pd.concat([price_vnd, df_sim_number], axis = 1)

In [ ]:
submit.to_csv('submit_1.txt', index=False)

In [ ]:
submit_test = pd.read_csv('./submit_1.txt')

In [ ]:
submit_test.head(10)

      price_vnd  sim_number
0  1.666048e+06   776260543
1  4.308333e+06   822977488
2  4.679671e+06   707963979
3  7.549153e+05   344134986
4  2.401869e+06   795718118
5  3.404837e+06   974828772
6  8.715429e+06   818999191
7  3.011402e+06   329730568
8  2.042857e+07   585444777
9  2.251050e+06   904179189

In [ ]:
pickle.dump(model, open('decisionTree_11_12.sav', 'wb'))

#Random Forest

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import sklearn.metrics as sm

regr = RandomForestRegressor()
regr.fit(X_train, y_train)

RF_pred = regr.predict(X_test)


# RMSE Computation
rmse_rf = np.sqrt(mean_squared_error(y_test, RF_pred))
print("RMSE : % f" %(rmse_rf))

print("Root mean squared error = %f" %rmse_rf)
print("Mean absolute error =", round(sm.mean_absolute_error(y_test, RF_pred), 2))
print("Mean squared error =", round(sm.mean_squared_error(y_test, RF_pred), 2))
print("Median absolute error =", round(sm.median_absolute_error(y_test, RF_pred), 2))
print("Explain variance score =", round(sm.explained_variance_score(y_test,RF_pred), 2))
print("R2 score =", round(sm.r2_score(y_test, RF_pred), 2))

RMSE :  65940018.232947
Root mean squared error = 65940018.232947
Mean absolute error = 5865596.0
Mean squared error = 4348086004561338.0
Median absolute error = 847462.37
Explain variance score = 0.48
R2 score = 0.48

In [ ]:
df.loc[df['sim_doi_1']]

In [ ]:
loaded_model = pickle.load(open('/content/drive/MyDrive/Colab Notebooks/KHAI PHÁ DỮ LIỆU HƯỚNG LĨNH VỰC/Final/Randumforest_model.sav', 'rb'))

In [ ]:
result = loaded_model.predict(df.values)

In [ ]:
result

array([1663603.87725682, 5688059.34343434, 4712710.64552205, ...,
        531610.3093976 , 1204668.22743079, 1213128.98277812])

In [ ]:
price = {'price_vnd': result}
price_vnd = pd.DataFrame.from_dict(price)

In [ ]:
price_vnd

           price_vnd
0       1.663604e+06
1       5.688059e+06
2       4.712711e+06
3       7.583143e+05
4       2.409338e+06
...              ...
149055  2.256635e+08
149056  1.672999e+07
149057  5.316103e+05
149058  1.204668e+06
149059  1.213129e+06

[149060 rows x 1 columns]

In [ ]:
submit1 = pd.concat([price_vnd, df_sim_number], axis = 1)

In [ ]:
submit1.to_csv('submit_2.txt', index=False)

In [ ]:
submit_test1 = pd.read_csv('./submit_2.txt')

In [ ]:
submit_test1.head(10)

      price_vnd  sim_number
0  1.663604e+06   776260543
1  5.688059e+06   822977488
2  4.712711e+06   707963979
3  7.583143e+05   344134986
4  2.409338e+06   795718118
5  3.305999e+06   974828772
6  9.024728e+06   818999191
7  2.978369e+06   329730568
8  1.976919e+07   585444777
9  2.271421e+06   904179189

#XGBoost

In [ ]:
from xgboost import XGBRegressor
XGB_m = XGBRegressor()
XGB_m.fit(X_train, y_train)
XGB_pred = XGB_m.predict(X_test)

# RMSE Computation
rmse = np.sqrt(mean_squared_error(y_test, XGB_pred))
print("RMSE : % f" %(rmse))

[21:46:59] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
RMSE :  75762887.818894

#Linear Regression

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)
pred = model.predict(X_test)

# RMSE Computation
rmse = np.sqrt(mean_squared_error(y_test, pred))
print("RMSE : % f" %(rmse))

RMSE :  84168519.858437